@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

.color_blue1 {
  color: #2703a5;
}

.color_blue2 {
  color: #a0f1f2;
}

.color_gray {
  color: #777777;
}

.color_purple {
  color: #2e026e;
}

button {
  background: none;
  border: none;
}

* {
  font-family: "Lexend Deca", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* h1, * h2, * h3, * h4, * h5, * h6, * strong, * b {
  font-weight: bolder;
  margin: 0 0 15px 0;
}

p {
  margin: 0 0 10px 0;
  color: #777777;
}

.center {
  width: 1662px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media all and (max-width: 1080px) {
  .center {
    padding: 0 25px;
  }
}
a {
  color: #777777;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2703a5;
}

@media all and (max-width: 1080px) {
  .hide-on-mobile {
    display: none;
  }
}
.show-on-mobile {
  display: none !important;
}

@media all and (max-width: 1080px) {
  .show-on-mobile {
    display: block !important;
  }
}
.button {
  padding: 17px 40px;
  font-size: 14px;
  border-radius: 5px;
  background: #2703a5;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bolder;
}

.button:hover, .button:focus {
  color: #fff;
}

.button.v2 {
  background: #fff;
  color: #2703a5;
}

.button.v3 {
  background: #2e026e;
  color: #fff;
}

.button.outline {
  background: transparent;
  border: solid 1px #2e026e;
  color: #2703a5;
}

.button.outline2 {
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
}

.viewport-height {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-helper {
  z-index: 3;
  width: 100%;
  top: 40px;
}

header {
  padding: 5px 20px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 1080px) {
  header {
    padding: 5px 10px;
  }
}
@media all and (max-width: 1080px) {
  header .logo {
    max-width: 40vw;
  }
}
header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
}

header nav ul li {
  margin: 0 13.5px;
  text-transform: uppercase;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #777777;
  display: block;
}

header .language {
  width: 50px;
  border-left: solid 1px #777777;
  padding: 0 0 0 10px;
}

header .language a {
  color: #777777;
}

header .start-now a {
  background: #2703a5;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
}

.overlaybg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

.overlaybg.--visible {
  display: block;
}

@media all and (max-width: 1080px) {
  #login1 {
    display: none !important;
  }
}
.balloon-login {
  display: none;
  background: #f2f5f7;
  text-align: center;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  top: 100px;
}

.balloon-login.cadastro {
  z-index: 10;
  width: 800px;
  max-width: 100%;
  position: relative;
  top: 0;
  right: 0;
  display: block;
  overflow-y: auto;
}

@media all and (min-width: 1080px) {
  .balloon-login.cadastro {
    margin-top: 70px;
  }
}
@media all and (max-width: 1080px) {
  .balloon-login.cadastro {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #2703a5;
  }
  .balloon-login.cadastro .d-block.m-auto {
    margin: 20px auto !important;
  }
  .balloon-login.cadastro h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
  }
  .balloon-login.cadastro h1 + p {
    color: #a1aeb7;
    opacity: 0.8;
  }
  .balloon-login.cadastro form .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .balloon-login.cadastro form .row input[type=submit] {
    width: 100%;
    background: #2e026e;
  }
  .balloon-login.cadastro form .row .col-6 {
    width: 100%;
    padding: 0 10px !important;
  }
  .balloon-login.cadastro .selected-plan {
    border: solid 1px #fff;
    padding: 10px;
  }
  .balloon-login.cadastro .selected-plan .col-auto {
    width: 50%;
  }
}
.balloon-login.--visible {
  display: block;
}

.balloon-login .x {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
}

.balloon-login .helper.seta::after {
  content: "";
  background: url(../../assets/images/LOGIN/arrow.svg) center no-repeat;
  background-size: cover;
  width: 40px;
  height: 30px;
  position: absolute;
  top: -38px;
  left: calc(50% - 10px);
}

.balloon-login form input {
  width: 100%;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 5px;
  height: 40px;
}

.balloon-login form input[placeholder=CNPJ] {
  background: url(../../assets/images/LOGIN/icon-cnpj.svg) 15px center no-repeat #fff !important;
}

.balloon-login form input[type=text] {
  background: url(../../assets/images/LOGIN/icon-person.svg) 15px center no-repeat #fff;
}

.balloon-login form input[type=email] {
  background: url(../../assets/images/LOGIN/ICON-MAIL.svg) 15px center no-repeat #fff;
}

.balloon-login form input[type=password] {
  background: url(../../assets/images/LOGIN/ICON-LOCK.svg) 15px center no-repeat #fff;
}

.balloon-login form input:not([type=submit]) {
  padding: 0 0 0 45px;
  border: solid 1px #ddd;
}

.balloon-login form input[type=submit] {
  background: #2703a5;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

:-ms-input-placeholder {
  color: #aaa;
}

::-ms-input-placeholder {
  color: #aaa;
}

::placeholder {
  color: #aaa;
}

@media all and (max-width: 800px) {
  .top-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .top-icons .arrows {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.selected-plan {
  background: #2703a5;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.selected-plan p {
  color: #fff;
  margin: 0;
}

.selected-plan span {
  color: #a0f1f2;
}

.selected-plan a {
  text-transform: initial;
}

section {
  overflow: hidden;
}

section.padding {
  padding: 100px 0;
}

@media all and (max-width: 1080px) {
  section.padding {
    padding: 50px 0;
  }
}
.presentation {
  background: url(../../assets/images/HEADER/BG-HEADER.png) center;
  background-size: cover;
  color: #fff;
}

@media all and (min-width: 800px) {
  .presentation {
    background-attachment: fixed;
  }
}
@media all and (max-width: 800px) {
  .presentation {
    padding: 150px 0 0 0;
  }
}
.presentation.smaller {
  min-height: 300px;
  padding: 150px 0 0 0;
}

@media all and (max-width: 800px) {
  .presentation.smaller .row .col-auto {
    width: 100%;
    text-align: center;
  }
  .presentation.smaller .row .col-auto:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .presentation.smaller .row .col-auto:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .presentation.smaller .row .col-auto a {
    width: 280px;
    margin: 20px auto;
  }
}
.presentation p {
  color: #fff;
  white-space: nowrap;
}

.presentation h1 {
  font-size: 70px;
  font-weight: 300;
}

@media all and (max-width: 1080px) {
  .presentation h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 800px) {
  .presentation .button {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media all and (min-width: 800px) {
  .presentation .flex-column {
    height: 100vh;
  }
}
@media all and (min-width: 800px) {
  .presentation .flex-column .col-4 {
    height: 33.33%;
  }
}
.about .video {
  aspect-ratio: 4/2.3;
  border-radius: 10px;
  position: relative;
}

.about .video .bg-gradient2 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #a0f1f2;
  background: -o-linear-gradient(260deg, #a0f1f2 0%, #2703a5 100%);
  background: linear-gradient(190deg, #a0f1f2 0%, #2703a5 100%);
  z-index: -1;
}

.about .video div[class^=blur] {
  width: 350px;
  height: 250px;
  background: #2e026e;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  -webkit-filter: blur(80px);
  filter: blur(80px);
  top: 30px;
}

@media all and (max-width: 1080px) {
  .about .video div[class^=blur] {
    zoom: 0.6;
  }
}
.about .video div[class^=blur].blur1 {
  background-color: #2703a5;
  top: 100px;
  right: -50px;
}

.about .video iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media all and (max-width: 1080px) {
  .about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media all and (max-width: 1080px) {
  .about .row .w-75 {
    margin: 40px 0 !important;
    width: 100% !important;
  }
}
@media all and (max-width: 1080px) {
  .about .row .button {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
  }
}
.blueblock {
  background: #2703a5;
  color: #fff;
}

@media all and (max-width: 1080px) {
  .blueblock {
    padding: 30px 30px !important;
  }
  .blueblock h1, .blueblock h2, .blueblock h3, .blueblock h4, .blueblock h5, .blueblock h6 {
    font-weight: lighter;
    margin: 30px 0;
  }
  .blueblock .button {
    width: 100%;
    text-align: center;
  }
}
.blueblock p {
  color: #fff;
}

@media all and (max-width: 1080px) {
  .blueblock .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media all and (max-width: 1080px) {
  .blueblock .row .col:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media all and (max-width: 1080px) {
  .blueblock .row .col:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 30px;
  }
}
.purplebg {
  background: url(../../assets/images/BODY/BG-PLANOS.png) center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.purplebg p {
  color: #fff;
}

.clientes.swiper .swiper-wrapper {
  padding: 0 100px;
}

@media all and (max-width: 1080px) {
  .clientes.swiper .swiper-wrapper {
    padding: 0;
  }
}
.clientes.swiper .swiper-slide {
  border: solid 1px #2703a5;
  border-radius: 10px;
}

@media all and (max-width: 800px) {
  .clientes.swiper .swiper-slide .info-profile {
    text-align: center;
  }
}
.clientes.swiper .swiper-button-next, .clientes.swiper .swiper-button-prev {
  color: #2703a5;
}

.clientes.swiper .swiper-pagination-bullet-active {
  background: #2703a5;
}

.clientes.swiper .swiper-pagination {
  position: relative;
  bottom: 0 !important;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.plans {
  display: inherit;
}

@media all and (max-width: 800px) {
  .plans h1 {
    font-size: 300%;
    text-align: center;
  }
}
@media all and (max-width: 800px) {
  .plans .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media all and (max-width: 800px) {
  .plans .list-plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .plans .list-plans * {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .plans .list-plans ul {
    padding: 0;
  }
}
.plans article {
  font-size: 14px;
  padding: 20px 20px 40px 20px;
  border-radius: 20px;
}

.plans article.--destacado {
  background: #2e026e;
  position: fixed;
  width: calc(100% - 40px);
  height: 95vh;
  top: 2.5vh;
  left: 20px;
  z-index: 2;
  overflow-y: auto;
  display: none;
}

.plans article.--destacado.--visible {
  display: block;
}

@media all and (min-width: 1080px) {
  .plans article.--destacado {
    display: none !important;
  }
}
.plans article.--destacado .bigger {
  margin: 15px 0;
}

.plans article.--destacado ul, .plans article.--destacado p {
  display: block;
}

.plans article.--highlight {
  background: url(../../assets/images/BODY/bg-highlight.svg) center top;
  background-size: cover;
}

.plans article.--highlight .small {
  color: #a0f1f2;
  opacity: 1;
}

.plans article.--highlight .button {
  background: #2e026e;
  color: #fff;
}

.plans article.--highlight ul {
  color: #2e026e;
}

.plans article .closeit {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.plans article .small {
  display: block;
  opacity: 0.5;
  text-transform: uppercase;
}

@media all and (max-width: 800px) {
  .plans article .small {
    font-size: 20px;
    color: #a1aeb7;
    opacity: 1;
  }
}
.plans article .bigger {
  font-size: 50px;
  font-weight: bolder;
}

.plans article .--anual {
  display: none;
}

.plans article .--anual.--visible {
  display: block;
}

.plans article .--mensal {
  display: none;
}

.plans article .--mensal.--visible {
  display: block;
}

.plans article small {
  opacity: 0.5;
  display: block;
}

@media all and (max-width: 800px) {
  .plans article small {
    color: #a1aeb7;
    text-transform: uppercase;
    opacity: 1;
  }
}
.plans article p {
  margin: 20px 0;
  font-weight: 400;
  color: #A1AEB7;
}

@media all and (max-width: 800px) {
  .plans article p {
    display: none;
  }
}
.plans article hr {
  margin: 40px 0;
}

.plans article ul {
  display: inherit;
  padding: 0;
  width: 200px;
  margin: 25px auto;
}

@media all and (max-width: 800px) {
  .plans article ul {
    display: none;
  }
}
.plans article ul li {
  display: inherit;
}

.plans article ul li.--disabled {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.plans article ul li img {
  display: inherit;
  margin: 0 0 15px 0;
}

.plans article .button {
  zoom: 0.8;
  width: 250px;
  text-align: center;
  margin: auto;
}

@media all and (max-width: 800px) {
  .plans article .button:last-child {
    border: solid 1px #fff;
    background: transparent;
    color: #fff;
  }
}
.plans article .button.descobrir {
  display: none;
}

@media all and (max-width: 800px) {
  .plans article .button.descobrir {
    display: block;
  }
}
.advise {
  font-size: 14px;
  color: #A1AEB7;
  font-weight: 400;
}

@media all and (max-width: 800px) {
  .txt-corrido {
    padding: 0 30px;
  }
  .txt-corrido h1, .txt-corrido h2, .txt-corrido h3, .txt-corrido h4, .txt-corrido h5, .txt-corrido h6 {
    font-size: 250%;
  }
}
.txt-corrido p {
  color: #949494;
}

@media all and (max-width: 800px) {
  .descriptions .center > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media all and (max-width: 800px) {
  .descriptions .center > .row .col-4 {
    width: 100%;
    padding: 20px !important;
  }
}
@media all and (max-width: 800px) {
  .descriptions h1, .descriptions h2, .descriptions h3, .descriptions h4, .descriptions h5, .descriptions h6 {
    font-size: 200%;
  }
}
.slider-bottom {
  display: block;
  margin-bottom: 20px;
}

.slider-bottom .swiper-slide {
  overflow: hidden;
  aspect-ratio: 10/4.5;
}

@media all and (max-width: 800px) {
  .slider-bottom .swiper-slide {
    aspect-ratio: 1/1.5;
  }
}
.slider-bottom .cover {
  width: 100%;
  height: 100%;
  position: relative;
}

@media all and (max-width: 800px) {
  .slider-bottom .cover {
    line-height: 1.2;
  }
}
@media all and (max-width: 800px) {
  .slider-bottom .cover > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
  }
  .slider-bottom .cover > .row .col-sm-auto, .slider-bottom .cover > .row .col-6 {
    width: 100%;
  }
}
.slider-bottom .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slider-bottom .cover .txt {
  font-size: 200%;
  bottom: 0;
  padding: 0 40px;
}

@media all and (max-width: 800px) {
  .slider-bottom .cover .txt {
    padding: 0;
  }
}
.slider-bottom .cover .txt p {
  color: #fff;
}

@media all and (max-width: 1310px) {
  footer .logo-footer {
    margin: 30px auto;
  }
}
@media all and (max-width: 1310px) {
  footer .row {
    gap: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  footer .row [class^=col] {
    width: 100%;
  }
}
footer .form {
  background: url(../../assets/images/FOOTER/bg.svg);
  padding: 60px 0;
  color: #fff;
}

@media all and (max-width: 1310px) {
  footer .form {
    padding: 20px 15px;
    background: -o-linear-gradient(260deg, #2703a5 0%, #a0f1f2 100%);
    background: linear-gradient(190deg, #2703a5 0%, #a0f1f2 100%);
  }
  footer .form h1, footer .form h2, footer .form h3, footer .form h4, footer .form h5, footer .form h6 {
    font-size: 40px;
  }
  footer .form textarea {
    min-height: 300px !important;
  }
  footer .form .pt-3 {
    padding: 0 !important;
  }
}
footer .form p {
  color: #fff;
}

@media all and (max-width: 1310px) {
  footer .form p {
    margin: 20px 0;
  }
}
footer .form p.bigger {
  font-size: 200%;
}

@media all and (max-width: 1310px) {
  footer .form p.bigger {
    font-size: 100%;
    margin: 5px 0;
  }
  footer .form p.bigger img {
    zoom: 0.6;
  }
}
footer .form a {
  color: #fff;
}

@media all and (max-width: 1310px) {
  footer .form form {
    margin: 30px 0;
  }
}
footer .form form * {
  border: none;
  border-radius: 5px;
}

footer .form form input, footer .form form textarea {
  padding: 7px;
}

@media all and (max-width: 1310px) {
  footer .form form input, footer .form form textarea {
    margin: 0 0 15px 0;
  }
}
footer .form form input[type=submit] {
  position: absolute;
  width: 100px;
  background: #2703a5;
  color: #fff;
  bottom: 16px;
  right: 22px;
}

footer .form form textarea {
  min-height: 100px;
}

footer .newsletter input {
  height: 50px;
  padding: 10px;
  border: none;
}

footer .newsletter input[type=email] {
  border-radius: 5px 0 0 5px;
  background: #eee;
  border: solid 1px #e9e9e9;
}

footer .newsletter input[type=submit] {
  background: #2703a5;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding: 0 20px;
  margin-left: -5px;
}

footer nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

@media all and (max-width: 1310px) {
  footer nav ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
footer nav ul li {
  margin: 0 10px;
  text-transform: uppercase;
}

footer nav ul li a {
  color: #777777;
  display: block;
}

footer .social ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer .menu {
  padding: 20px 0;
}

@media all and (max-width: 1310px) {
  footer .menu {
    text-align: center;
  }
  footer .menu .col-sm-auto {
    margin: 10px 0;
  }
}
@media all and (max-width: 1310px) {
  footer .menu .newsletter {
    zoom: 0.8;
  }
}
footer .last {
  padding: 20px 0;
  border-top: solid 1px #ddd;
}

footer .last select {
  color: #2703a5;
  border: solid 1px #2703a5;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
}

footer .last select option {
  color: #2703a5;
}

footer .last p {
  margin: 0;
}

@media all and (max-width: 1310px) {
  footer .last .row .social ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media all and (max-width: 1310px) {
  footer .last .row .lang {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media all and (max-width: 1310px) and (max-width: 1310px) {
  footer .last .row .lang p {
    margin: 20px 0;
  }
}
.input-switch {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.input-switch + .switch {
  width: 50px;
  height: 25px;
  background: #fff;
  border-radius: 100px;
}

.input-switch + .switch .dragger {
  position: relative;
  top: -2.5px;
  width: 30px;
  height: 30px;
  background: #a0f1f2;
  border-radius: 100px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.input-switch:checked + .switch .dragger {
  left: 20px;
}

label {
  cursor: pointer;
}

.super-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

@media all and (max-width: 1080px) {
  .super-wrapper {
    z-index: 3;
  }
}
.super-wrapper > .helper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cadastro {
  display: none;
}

#cadastro.--visible {
  display: block !important;
}

.menu-mobile {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  background: #2e026e;
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.menu-mobile#menu-mobile {
  background: #2703a5;
}

.menu-mobile#menu-mobile ul {
  list-style-type: none;
  padding: 0 20px;
  text-transform: uppercase;
  line-height: 2.3;
  font-size: 18px;
}

.menu-mobile#menu-mobile ul li a {
  color: #A1AEB7;
  display: block;
}

.menu-mobile#menu-mobile ul li a:hover {
  color: #a0f1f2;
}

.menu-mobile.--visible {
  display: block;
}

@media all and (min-width: 1080px) {
  .menu-mobile {
    display: none !important;
  }
}
.menu-mobile .flex-column {
  height: calc(100vh - 90px);
  margin: 0;
}

.menu-mobile .flex-column > .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-mobile .row {
  margin: 0 0 20px 0;
}

.menu-mobile a {
  color: #fff;
}

.menu-mobile form input {
  margin: 0 0 10px 0;
  border: none;
  border-radius: 5px;
  height: 35px;
}

.menu-mobile form input:not([type=submit]) {
  padding: 0 0 0 40px;
}

.menu-mobile form input[type=submit] {
  background: #9272d9;
  color: #fff;
}

.menu-mobile form input[type=email] {
  background: url(../../assets/images/HEADER/icon-mail2.svg) 10px no-repeat #fff;
}

.menu-mobile form input[type=password] {
  background: url(../../assets/images/HEADER/icon-locker2.svg) 10px no-repeat #fff;
}

.funcionario-card {
  margin: 0 0 20px 0;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}

.funcionario-card * {
  color: #505d68 !important;
}

.funcionario-card p {
  font-size: 14px;
}

.card-servico {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background: #f8f8f8;
  width: calc(100% - 20px);
  margin: 40px auto !important;
}

.card-servico::after {
  content: "";
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: -o-linear-gradient(260deg, #2703a5 0%, #a0f1f2 100%);
  background: linear-gradient(190deg, #2703a5 0%, #a0f1f2 100%);
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 10px;
  z-index: -1;
}

@media all and (max-width: 1080px) {
  .card-servico .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-servico .row h1, .card-servico .row h2, .card-servico .row h3, .card-servico .row h4, .card-servico .row h5, .card-servico .row h6 {
    font-size: 250%;
  }
  .card-servico .row [class^=col-] {
    width: 100%;
  }
}
.article1 {
  height: 380px;
  background: #000;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 0 30px 0;
  position: relative;
}

.article1.--alternative {
  background: #fff;
  border: solid 1px #2703a5;
}

.article1.--alternative h1, .article1.--alternative h2, .article1.--alternative h3, .article1.--alternative h4, .article1.--alternative h5, .article1.--alternative h6 {
  color: #2703a5 !important;
}

.article1.--alternative p {
  color: #333;
}

.article1.--alternative .link p {
  color: #999;
}

.article1 .helper {
  height: 100%;
  width: 100%;
}

.article1 .helper .img {
  height: 100%;
  width: 100%;
}

.article1 .helper .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.7;
}

.article1 .helper .txt {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.article1 .helper .txt h3 {
  color: #fff;
  margin: 5px 0;
}

.article1 .helper .link {
  text-align: right;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px;
}

.article1 .helper .link a {
  height: 35px;
  padding: 0 20px;
  line-height: 35px;
  font-size: 13px;
}

@media all and (max-width: 1080px) {
  .final-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .final-links .button {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .final-links .d-flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media all and (max-width: 1080px) {
  .more-news {
    margin-top: 50px;
  }
}
.list-language {
  display: none;
  padding: 0;
  margin: 0;
  width: 80px;
  border-radius: 5px;
  background: #2703a5;
  list-style-type: none;
  font-size: 13px;
  line-height: 2.4;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.list-language.--visible {
  display: block;
}

.list-language li {
  margin: 0 20%;
}

.list-language li:last-child a {
  border: none;
}

.list-language li a {
  display: block;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

.list-language li a:hover {
  color: #a0f1f2;
}